body{
    background-color: #205F40;
    overflow-y: hidden;
}

.passwordButton{
    font-size: x-small;
    display: block;
    height: min-content;
    padding: .5rem;
    margin-left: 1.5rem;
}

.buttons { 
    display: block;
    margin-top: 20px;
    margin-left: 1.5rem;
    font-family:'Trebuchet MS';
}

button {
    font-family:'Trebuchet MS';
}

button:hover {
    background-color: #194a32;
    color: white;
}

input {
    margin-left: 1.5rem;
}

p{
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    font-family:'Trebuchet MS';
    color: white;
}

.container {
    display: inline-grid;
    column-gap: 150px;
    row-gap: 35px;
    margin-top: 30px;
    margin-right: 1.5rem;
}

.login {
    grid-column-start: 1;
    grid-column-end: 2;
    color: white;
}

.goals {
    grid-column-start: 2;
    grid-column-end: 5;
    text-align: left;
    margin-right: 1.5rem;
    margin-top: 50px;
    color: white;
}

.goals h2 {
    font-size: 20px;
    font-family:'Trebuchet MS';
    color: white;
}

.goals h3 {
    font-family:'Trebuchet MS';
    color: white;
}

.goals li {
    font-family:'Trebuchet MS';
    color: white;
}

.image-banner {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 5;
}

.image-banner img {
    width: 100%;
    height: auto;
    position: absolute; bottom: 0px; 
}