/* DashboardComponent's private CSS styles */

h2 {
  text-align: center;
  font-family:'Trebuchet MS';
}

.needs-menu {
  padding: 0;
  margin: auto;
  max-width: 1000px;
  font-family:'Trebuchet MS';

  /* flexbox */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
}

a {
  background-color: #616161;
  border-radius: 2px;
  padding: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  text-align: center;
  width: 100%;
  min-width: 70px;
  margin: .5rem auto;
  box-sizing: border-box;
  margin-bottom: 40px;
  font-family:'Trebuchet MS';

  /* flexbox */
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

@media (min-width: 600px) {
  a {
    width: 18%;
    box-sizing: content-box;
    font-family:'Trebuchet MS';
  }
}

a:hover {
  background-color: #205F40;
}

.search {
  margin-top: 20px;
  margin-left: 1.2rem;
  font-family:'Trebuchet MS';
  margin-bottom: 20px;
}

.search img{
  margin-top: 20px;
  margin-left: 1.2rem;
  font-family:'Trebuchet MS';
}

div label {
  margin-left: 2rem;
  margin-top: 2rem;
  font-size: 1.3rem;
  font-family:'Trebuchet MS';
}

progress {
  margin-top: 20px;
  margin-left: 1.7rem;
  background: none;
}

progress::-webkit-progress-bar {
	/* height:40px; */
	width:80%;
	background-color:#dadada;
	border-radius:100px;
}

progress::-webkit-progress-value {
	display:inline-block;
	/* height:40px; */
  padding-left:50px; /* Rounded corners requires a padding */
	border-radius:100px;
  background: #205F40;
}