<div *ngIf="profile" style="margin-left: 20px;">
    <h2>{{ originalUserName | uppercase }}'s Profile</h2>
    <div>
      <label for="first-name">First Name:</label>
      <input id="first-name" [(ngModel)]="profile.firstName" placeholder="First Name" #firstName />
      <label for="last-name">Last Name:</label>
      <input id="last-name" [(ngModel)]="profile.lastName" placeholder="Last Name" #lastName/>
      <label for="email">Email Address:</label>
      <input id="email" [(ngModel)]="profile.email" placeholder="Email Address" #email/>
      <label for="country">Country:</label>
      <input id="country" [(ngModel)]="profile.country" placeholder="Country" #address/>
    </div>
    <button type="button" (click)="goBack()">Go back</button>
    <button type="button" (click)="save()">Save</button>
    <button id="privacy" type="button" (click)="switchPrivacy()">{{privacyLabel}}</button>
    <h2>Update Login Information</h2>
    <div >
    <label for="user-name">User Name:</label>
    <input id="user-name" [(ngModel)]="userName" placeholder="{{userName}}" />
    <label for="password">Password:</label>
    <input id="password" [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password" placeholder="Enter New Password" #lastName/>
    <button class="passwordButton" (click)="hidePassword()">{{showPassword ? 'Hide password':'Show Password' }}</button>
    </div>
    <button type="button" (click)="goBack()">Go back</button>
    <button type="button" (click)="saveLogin()">Save New Login</button>
    <p>{{message}}</p>
    <app-contributions userName = "{{this.userName}}"></app-contributions>
</div>
